<div class="content-wrapper container-fluid p-0">
    <div class="content-body">
        <!-- content-header component -->
        <ng-container *ngIf="contentHeader">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12 d-flex">
                            <h2 class="content-header-title float-left mb-0">
                                {{ contentHeader.headerTitle }}
                            </h2>
                            <!-- app-breadcrumb component -->
                            <app-breadcrumb [breadcrumb]="contentHeader.breadcrumb"></app-breadcrumb>
                        </div>
                    </div>
                </div>

            </div>
        </ng-container>

        <!-- Basic Alerts start -->
        <section class="home">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Homes Managed</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/1.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>House Cleaners</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/2.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Total Guests this Month</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/3.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Total Guests Remaining
                                this month</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/3.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Total Cleanings Complete
                                this Month</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/2.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Total Cleanings Complete
                                this Year</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/2.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Damages Reported</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/4.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Managers</h3>
                            <div class="icon-txt">
                                <div class="icons-dashboard">
                                    <img src="assets/images/pages/5.png" alt="">
                                </div>
                                <div class="txt-dashboard">
                                    <h2>05</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Alerts end -->
    </div>
</div>